<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Welcome, {{username}}!
            <a href="{{url_for('logout')}}">登出</a>
        </h2>
    </div>
    
    <form method="post" action="/action" >
        輸入學號：<input name="sid">
        <input type="submit" value="查詢課程">
    </form>
    <form method="post" action="/add" >
        輸入學號：<input name="add">
        <select name="name1">
            <option value="1245">1245 UNIX應用與實務</option>
            <option value="1260">1260 互連網路</option>
            <option value="1261">1261 組合數學</option>
            <option value="2764">1260 人生哲學</option>
            <option value="2790">2790 音樂與人生</option>
            <option value="2812">2812 莎士比亞與電影</option>
            <option value="2921">2921 水墨造型設計</option>
            <option value="3025">3025 密碼學</option>
            <option value="3598">3598 UNIX應用與實務</option>
        </select>
        <input type="submit" value="加選">
    </form>
    <form method="post" action="/quit" >
        輸入學號：<input name="del">
        輸入課號：<input name="name2">
        <input type="submit" value="退選">
    </form>
    
    <form method="post" action="/FocusOn" > 
        輸入學號：<input name="sid1">
        輸入課號：<input name="focus">
        <input type="submit" value="關注課程">
    </form>
    <form method="post" action="/SearchFocus" >
        輸入學號：<input name="sid2">
        <input type="submit" value="列出選課列表">
    </form> 

</body>
</html>